<h1 class="display-4">Bienvenido al sistema de administración de estudiantes</h1>
<p class="mb-4">Esta aplicación está programada en sails.js y sirve para gestionar estudiantes :V</p>
<a href="/articles/list" class="btn btn-ligth">Estudiantes</a>
<a href="/articles/add" class="btn btn-ligth">Agregar Estudiante</a>
